<!DOCTYPE html>
<html>
<head>
    <title>Bookmarky</title>
    <meta charset="utf-8">
</head>
<body>
<h1>Welcome to Bookmarky</h1>
{% if user != null %}
<p>Welcome back, {{ user.name }}!</p>
    <p><a href="/logout">Log Out</a></p>
    <h2>Create a Bookmark</h2>
    <form action="/bookmark" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <label>Title: <input type="text" name="title" width="100"></label><br>
        <label>URL: <input type="text" name="url" width="100"></label><br>
        <label for="new-desc">Description:</label><br>
        <textarea rows="10" cols="50" name="description" id="new-desc"></textarea><br>
        <label>Tags: <input type="text" name="tags" width="100" placeholder="space-separated tags"></label><br>
        <button type="submit">Add Bookmark</button>
    </form>
{% else %}
    <h2>Log In</h2>
    <form action="/login" method="POST">
        <label>Username: <input name="username" type="text" width="50"></label><br>
        <label>Password: <input name="password" type="password" width="50"></label><br>
        <button type="submit">Log In!</button>
    </form>
    <h2>Create Account</h2>
    <form action="/createUser" method="POST">
        <label>Username: <input name="username" type="text" width="50"></label><br>
        <label>Password: <input name="password" type="password" width="50"></label><br>
        <label>Confirm Password: <input name="confirm" type="password" width="50"></label><br>
        <button type="submit">Create Account</button>
    </form>
{% endif %}
</body>
</html>